/backgrounds/*
/cgi-bin/*
/cli/*
/download/*
/fonts/*
/**/image/*
/**/images/*
/**/flags/*
/**/icons/*
/**/icon/*
/**/font/*
/**/deadcow_seo_data/*
/override/*
/system/*
/vqmod/*
phpinfo.php
yandex_*
wmail_*
php.ini
info.php
google*
*.png
*.gif
*jp?g
/**/i18n/*
/**/demo/*
/**/examples/*
config.php
