/* cart */
.cart-info table {
   width: 100%;
   margin-bottom: 15px;
   border-collapse: collapse;
   border-top: 1px solid #DDDDDD;
   /*   border-left: 1px solid #DDDDDD;
      border-right: 1px solid #DDDDDD;*/
}
.cart-info td {
   padding: 7px;
}
.cart-info thead td {
   color: #FFF;
   font-weight: bold;
   background-color: #58595B;
   border-bottom: 1px solid #DDD;
}
.cart-info thead .image {
   text-align: center;
}
.cart-info thead .name, .cart-info thead .model, .cart-info thead .quantity {
   text-align: left;
}
.cart-info thead .price, .cart-info thead .total {
   text-align: right;
}
.cart-info tbody td {
   vertical-align: top;
   border-bottom: 1px solid #000000;
}
.cart-info tbody .image img {
   border: 1px solid #DDDDDD;
}
.cart-info tbody .image {
   text-align: center;
}
.cart-info tbody .name, .cart-info tbody .model, .cart-info tbody .quantity {
   text-align: left;
}
.cart-info tbody .quantity input[type='image'], .cart-info tbody .quantity img {
   position: relative;
   top: 4px;
   cursor: pointer;
}
.cart-info tbody .price, .cart-info tbody .total {
   text-align: right;
}
.cart-info tbody span.stock {
   color: #F00;
   font-weight: bold;
}
.cart-module > div {
   display: none;
}
.cart-total {
   //border-top: 1px solid #000000;
   overflow: auto;
   padding-top: 8px;
   margin-bottom: 15px;
}
.cart-total table {
   float: right;
}
.cart-total td {
   padding: 3px;
   text-align: right;
}



/* checkout */
.checkout-heading {
   background: #F8F8F8;
   border: 1px solid #DBDEE1;
   padding: 8px;
   font-weight: bold;
   font-size: 13px;
   color: #555555;
   margin-bottom: 15px;
}
.checkout-heading a {
   float: right;
   margin-top: 1px;
   font-weight: normal;
   text-decoration: none;
}
.checkout-content {
   padding: 0px 0px 15px 0px;
   display: none;
   overflow: auto;
}
.checkout-content .left {
   float: left;
   width: 48%;
}
.checkout-content .right {
   float: right;
   width: 48%;
}
.checkout-content .buttons {
   clear: both;
}
.checkout-product table {
   width: 100%;
   border-collapse: collapse;
   border-top: 1px solid #DDDDDD;
   border-left: 1px solid #DDDDDD;
   border-right: 1px solid #DDDDDD;
   margin-bottom: 20px;
}
.checkout-product td {
   padding: 7px;
}
.checkout-product thead td {
   color: #4D4D4D;
   font-weight: bold;
   background-color: #F7F7F7;
   border-bottom: 1px solid #DDDDDD;
}
.checkout-product thead .name, .checkout-product thead .model {
   text-align: left;
}
.checkout-product thead .quantity, .checkout-product thead .price, .checkout-product thead .total {
   text-align: right;
}
.checkout-product tbody td {
   vertical-align: top;
   border-bottom: 1px solid #DDDDDD;
}
.checkout-product tbody .name, .checkout-product tbody .model {
   text-align: left;
}
.checkout-product tbody .quantity, .checkout-product tbody .price, .checkout-product tbody .total {
   text-align: right;
}
.checkout-product tfoot td {
   text-align: right;
   border-bottom: 1px solid #DDDDDD;
}

